.badge {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: bold;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #777;
    -webkit-border-radius: 10px;
    -ms-border-radius: 10px;
}

.downBox {
    height: calc(100% - 60px) !important;
}

#nav {
    height: 60px;
    background: rgb(44, 110, 233);
    font-size: 14px;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
}

* {
    margin: 0;
    padding: 0;
}

#pop {
    background: #fff;
    width: 300px;
    border: 1px solid #e0e0e0;
    font-size: 12px;
    position: fixed;
    right: 0px;
    bottom: 0px;
}

#popHead {
    line-height: 32px;
    background: #f6f0f3;
    border-bottom: 1px solid #e0e0e0;
    position: relative;
    font-size: 12px;
    padding: 0 0 0 10px;
}

#popHead h2 {
    font-size: 14px;
    color: #666;
    line-height: 32px;
    height: 32px;
}

#popHead #popClose {
    position: absolute;
    right: 10px;
    top: 1px;
}

#popHead #check {
    position: absolute;
    right: 40px;
    top: 10px;
}

#popHead a#popClose:hover {
    color: #f00;
    cursor: pointer;
}

#popContent {
    padding: 5px 10px;
}

#popTitle a {
    line-height: 24px;
    font-size: 14px;
    font-family: '微软雅黑';
    color: #333;
    font-weight: bold;
    text-decoration: none;
}

#popTitle a:hover {
    color: #f60;
}

#popIntro {
    text-indent: 24px;
    line-height: 160%;
    margin: 5px 0;
    color: #666;
}

#popMore {
    text-align: right;
    border-top: 1px dotted #ccc;
    line-height: 24px;
    margin: 8px 0 0 0;
}

#popMore a {
    color: #064b98;
}

#popMore a:hover {
    color: #f00;
}