.select2-container{    
    display:block;
}
.select2-container--default .select2-search--inline .select2-search__field{
    width:100%;
}
.select2-container .select2-selection--single {
    height: 34px;
}
.select2-container--default .select2-selection--single .select2-selection__rendered{
    line-height: 34px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow{
    height: 32px;
}
.select2-container--default .select2-selection--single{
    border-color:#ccc;
}
.select2-container {
            width: auto !important;
        }

        .select2-container--default .select2-selection--single {
            background-color: transparent;
            border: none;
        }

            .select2-container--default .select2-selection--single .select2-selection__rendered {
                color: #fff;
            }

            .select2-container--default .select2-selection--single .select2-selection__arrow b {
                border-color: #fff transparent transparent transparent;
            }

        .select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
            border-color: transparent transparent #fff transparent;
        }

        .select2-dropdown {
            width: 250px !important;
        }
